ul,
li {
    padding: 0;
    margin: 0;
    list-style: "";
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.page_wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page_main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.u-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.u-min-height-full {
    min-height: 100svh;
}

.u-container {
    container: threshold-large / inline-size;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: relative;
    margin: 0 auto;
    z-index: 1;

    width: calc(100% - var(--site--margin) * 2);
    max-width: var(--_max-width---main);
}

.u-container-small {
    container: threshold-small / inline-size;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: relative;
    margin: 0 auto;
    z-index: 1;

    width: calc(100% - var(--site--margin) * 2);
    max-width: var(--_max-width---small);
}

.u-container-full {
    container: threshold-large / inline-size;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: relative;
    margin: 0 auto;
    z-index: 1;

    width: calc(100% - var(--site--margin) * 2);
    max-width: var(--_max-width---full);
}

.u-grid-above {
    display: grid;
    flex-flow: column;
    grid-auto-columns: minmax(0px, 1fr);
    column-gap: var(--site--gutter);
    row-gap: var(--site--gutter);
    grid-template-rows: auto;
    grid-template-columns: repeat(var(--_column-count---value), minmax(0, 1fr));
}

.u-sr-only {
    padding: 0;
    margin: 0 auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    clip: rect(0, 0, 0, 0);
    color: inherit;
    border: none;
}

.u-display-contents {
    display: contents !important;
}

.u-flex-horizontal-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.u-flex-horizontal-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.u-flex-vertical-nowrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.u-flex-vertical-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.u-alignment-center {
    align-items: var(--_alignment---direction, center);
    justify-content: var(--_alignment---direction, center);
    text-align: center;
}

.u-alignment-start {
    align-items: var(--_alignment---direction, start);
    justify-content: var(--_alignment---direction, start);
    text-align: start;
}

.u-alignment-end {
    align-items: var(--_alignment---direction, end);
    justify-content: var(--_alignment---direction, end);
    text-align: end;
}

.u-margin-top-0 {
    margin-top: 0 !important;
}

.u-margin-top-1 {
    margin-top: var(--_spacing---space--1);
}

.u-margin-top-2 {
    margin-top: var(--_spacing---space--2);
}

.u-margin-top-3 {
    margin-top: var(--_spacing---space--3);
}

.u-margin-top-4 {
    margin-top: var(--_spacing---space--4);
}

.u-margin-top-5 {
    margin-top: var(--_spacing---space--5);
}

.u-margin-top-6 {
    margin-top: var(--_spacing---space--6);
}

.u-margin-top-7 {
    margin-top: var(--_spacing---space--7);
}

.u-margin-top-8 {
    margin-top: var(--_spacing---space--8);
}

.u-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.u-margin-bottom-1 {
    margin-bottom: var(--_spacing---space--1);
}

.u-margin-bottom-2 {
    margin-bottom: var(--_spacing---space--2);
}

.u-margin-bottom-3 {
    margin-bottom: var(--_spacing---space--3);
}

.u-margin-bottom-4 {
    margin-bottom: var(--_spacing---space--4);
}

.u-margin-bottom-5 {
    margin-bottom: var(--_spacing---space--5);
}

.u-margin-bottom-6 {
    margin-bottom: var(--_spacing---space--6);
}

.u-margin-bottom-7 {
    margin-bottom: var(--_spacing---space--7);
}

.u-margin-bottom-8 {
    margin-bottom: var(--_spacing---space--8);
}

.u-gap-row-1 {
    row-gap: var(--_spacing---space--1);
}

.u-gap-row-2 {
    row-gap: var(--_spacing---space--2);
}

.u-gap-row-3 {
    row-gap: var(--_spacing---space--3);
}

.u-gap-row-4 {
    row-gap: var(--_spacing---space--4);
}

.u-gap-row-5 {
    row-gap: var(--_spacing---space--5);
}

.u-gap-row-6 {
    row-gap: var(--_spacing---space--6);
}

.u-gap-row-7 {
    row-gap: var(--_spacing---space--7);
}

.u-gap-row-8 {
    row-gap: var(--_spacing---space--8);
}

.u-justify-content-start {
    justify-content: start;
}

.u-justify-content-center {
    justify-content: center;
}

.u-justify-content-end {
    justify-content: end;
}

.u-justify-content-around {
    justify-content: space-around;
}

.u-justify-content-between {
    justify-content: space-between;
}

.u-alig-items-start {
    align-items: start;
}

.u-alig-items-center {
    align-items: center;
}

.u-alig-items-end {
    align-items: end;
}

.u-alig-items-stretch {
    align-items: stretch;
}

.u-cover-absolute {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}