.u-text-style-display {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--display);
    line-height: var(--_line-height---main);
    letter-spacing: var(--_text-style---letter-spacing--tight);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-h1 {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--h1);
    line-height: var(--_line-height---main);
    letter-spacing: var(--_text-style---letter-spacing--tight);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-h2 {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--h2);
    line-height: var(--_line-height---main);
    letter-spacing: var(--_text-style---letter-spacing--tight);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-h3 {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--h3);
    line-height: var(--_line-height---main);
    letter-spacing: var(--_text-style---letter-spacing--tight);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-h4 {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--h4);
    line-height: var(--_line-height---main);
    letter-spacing: var(--_text-style---letter-spacing--tight);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-h5 {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--h5);
    line-height: var(--_line-height---large);
    letter-spacing: var(--_text-style---letter-spacing--tight);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-h6 {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--h6);
    line-height: var(--_line-height---large);
    letter-spacing: var(--_text-style---letter-spacing--tight);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-large {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--large);
    line-height: var(--_line-height---huge);
    letter-spacing: var(--_text-style---letter-spacing--normal);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-medium {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--medium);
    line-height: var(--_line-height---huge);
    letter-spacing: var(--_text-style---letter-spacing--normal);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-main {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--main);
    line-height: var(--_line-height---huge);
    letter-spacing: var(--_text-style---letter-spacing--normal);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-small {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--small);
    line-height: var(--_line-height---huge);
    letter-spacing: var(--_text-style---letter-spacing--normal);
    text-transform: var(--_text-style---transform--none);
}

.u-text-style-tiny {
    font-family: var(--_text-style---primary-family);
    font-weight: var(--_text-style---primary-regular);
    font-size: var(--_text-style---font-size--tiny);
    line-height: var(--_line-height---huge);
    letter-spacing: var(--_text-style---letter-spacing--normal);
    text-transform: var(--_text-style---transform--none);
}

.u-text-trim-off {
    margin-top: 0;
    margin-bottom: 0;
}

.u-text-trim-on {
    margin-top: 0;
    margin-bottom: 0;
}