:root {
    /* Font */
    --_text-style---primary-family: 'Inter', sans-serif;
    --_text-style---primary-trim-top: 0.33em;
    --_text-style---primary-trim-bottom: 0.38em;
    --_text-style---primary-light: 300;
    --_text-style---primary-regular: 400;
    --_text-style---primary-medium: 500;
    --_text-style---primary-semibold: 600;
    --_text-style---primary-bold: 700;

    /* letter spacing */
    --_text-style---letter-spacing--tight: -0.03em;
    --_text-style---letter-spacing--normal: 0em;

    /* line height */
    --_text-style---line-height--tiny: 1;
    --_text-style---line-height--small: 1.1;
    --_text-style---line-height--main: 1.2;
    --_text-style---line-height--large: 1.3;
    --_text-style---line-height--extra-large: 1.4;
    --_text-style---line-height--huge: 1.5;

    /* font size */
    --_text-style---font-size--tiny: clamp(0.75 * 1rem, ((0.75 - ((0.875 - 0.75) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((0.875 - 0.75) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 0.875 * 1rem);
    --_text-style---font-size--small: clamp(0.875 * 1rem, ((0.875 - ((1 - 0.875) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((1 - 0.875) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 1 * 1rem);
    --_text-style---font-size--main: clamp(0.875 * 1rem, ((0.875 - ((1.125 - 0.875) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((1.125 - 0.875) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 1.125 * 1rem);
    --_text-style---font-size--medium: clamp(1 * 1rem, ((1 - ((1.25 - 1) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((1.25 - 1) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 1.25 * 1rem);
    --_text-style---font-size--large: clamp(1.125 * 1rem, ((1.125 - ((1.5 - 1.125) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((1.5 - 1.125) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 1.5 * 1rem);
    --_text-style---font-size--h6: clamp(1.125 * 1rem, ((1.125 - ((1.75 - 1.125) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((1.75 - 1.125) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 1.75 * 1rem);
    --_text-style---font-size--h5: clamp(1.375 * 1rem, ((1.375 - ((2.25 - 1.375) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((2.25 - 1.375) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 2.25 * 1rem);
    --_text-style---font-size--h4: clamp(1.75 * 1rem, ((1.75 - ((2.75 - 1.75) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((2.75 - 1.75) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 2.75 * 1rem);
    --_text-style---font-size--h3: clamp(2.25 * 1rem, ((2.25 - ((3.125 - 2.25) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((3.125 - 2.25) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 3.125 * 1rem);
    --_text-style---font-size--h2: clamp(2.5 * 1rem, ((2.5 - ((3.65 - 2.5) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((3.65 - 2.5) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 3.65 * 1rem);
    --_text-style---font-size--h1: clamp(3 * 1rem, ((3 - ((4.125 - 3) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((4.125 - 3) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 4.125 * 1rem);
    --_text-style---font-size--display: clamp(4 * 1rem, ((4 - ((6 - 4) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((6 - 4) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 6 * 1rem);

    /* text transform */
    --_text-style---transform--none: none;
    --_text-style---transform--uppercase: uppercase;
    --_text-style---transform--lowercase: lowercase;
    --_text-style---transform--capitalize: capitalize;
}